* text=auto
*.ts text eol=lf
*.tsx text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.css text eol=lf
*.html text eol=lf
# Preserve upstream license text, including its original whitespace.
docs/licenses/* -text -whitespace
